{% extends "base.html" %}

{% load i18n %}

{% block content%}
<div class="container">
    <div class="jumbotron container-fluid">
        <h1>{{ course.course_name }}</h1>
        <p>{{ course.course_progress }} </p>
    </div>
        <div class="col-md-12">
          <h2>{% trans "Required Information" %}</h2>
            {% if course.required_fields %}
                <form method="post">
                    {% csrf_token %}
                    <table class="table table-striped">
                        <tbody>
                        {% for field in course.required_fields.all %}
                        <tr>
                            <td>{{field.field_name}}</td>
                            <td><input id="{{field.field_name}}" name="{{field.field_name}}" type="text"></td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <input type="submit" class="btn btn-default" value="Register">
                </form>
            {% else %}
                <p> {% trans "No entries available" %}</p>
            {% endif %}
        </div>
</div>
{% endblock %}