{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block content%}
    <div class="container">
        <div class="jumbotron container-fluid">
            <h1>{% trans "Create new Course" %}</h1>
        </div>

        <div class="col-md-8">
            <form action="{% url "teacher_courses_add" %}" method="post">
                <div class="table-responsive">
                <table class="table">
                    {% csrf_token %}
                    {% for field in form  %}
                        <tr>
                            {% if field.label == 'Required fields' %}
                                <td>{{ field.label }} <input type="submit" class="btn btn-xs btn-success" name="field_add" value="+" formnovalidate></td>
                            {% else %}
                                <td>{{ field.label }}</td>
                            {% endif %}
                            <td class="form-width-200">{{ field }}</td>
                        </tr>
                    {% endfor  %}
                </table>
                </div>
                <a href="{{ request.GET.next }}" class="btn btn-default">{% trans "Back" %}</a>
                <input type="submit" class="btn btn-default" name="course_add" value="Submit" />
            </form>
        </div>
    </div>
{% endblock %}
