{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block content%}
    <div class="container">
        <div class="jumbotron container-fluid">
            <h1>{% trans "Create new Field" %}</h1>
        </div>

        <div class="col-md-8">
            <form action="{% url "teacher_field_add" %}" method="post">
                <table class="table">
                    {% csrf_token %}
                    {% for field in form  %}
                        <tr>
                        <td>{{ field.label }}</td>
                        <td class="form-width-200">{{ field }}</td>
                        </tr>
                    {% endfor  %}
                </table>
                <a href="{{ request.GET.next }}" class="btn btn-default">{% trans "Back" %}</a>
                <input type="submit" class="btn btn-default" value="Submit" />
            </form>
        </div>
    </div>
{% endblock %}
