{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block content%}
    <div class="container">
        <div class="jumbotron container-fluid">
            <h1>{% trans "Create new Course" %}</h1>
        </div>

        <div>
            <form action="{% url "teacher_iteration_add" %}" method="post">
            {% csrf_token %}
            {{ form|crispy }}

            <a href="{{ request.GET.next }}" class="btn btn-default">{% trans "Back" %}</a>
            <input type="submit" class="btn btn-default" value="Submit" />
            </form>
        </div>
    </div>
{% endblock %}
