{% extends "base.html" %}

{% load i18n %}

{% block content%}
<div class="container">
    <div class="jumbotron container-fluid">
        <h1>My Courses</h1>
        <p>{% trans "Overview of your currently registered courses." %} </p>
    </div>
        <div class="col-md-12">
          <h2>{% trans "Registered Courses" %}</h2>
            {% if course_list %}
                <table class="table table-striped">
                    <thead>
                            <tr>
                            <th>{% trans "Name" %}</th>
                            <th>{% trans "Progress" %}</th>
                            <th>{% trans "Progress reached" %}</th>
                            <th>{% trans "Timestamp" %}</th>
                            </tr>
                    </thead>
                    <tbody>

                    {% for course in course_list %}
                    <tr>
                        <td><a href="{% url "student_courses_detail" course.course_id.slug user.id%}?next={{ request.path|urlencode }}">{{course.course_id }}</a></td>
                        <td>{{course.user_progress_id}}</td>
                        {% if course.progress_reached == True %}
                            <td><input type="checkbox" disabled checked ></td>
                        {% else %}
                            <td><input type="checkbox" disabled></td>
                        {% endif %}
                        <td>{{course.timestamp}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p> {% trans "No entries available" %}</p>
            {% endif %}
        </div>
        {% include "show_pagination.html"%}
</div>
{% endblock %}