{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{%block content%}

<div class="container">
    <div class="col-md-8">
        {% block heading %}
            <h2>{% trans "Register a new User" %}</h2>
        {% endblock %}
        <form action="{% url "register" %}" method="post" accept-charset="utf-8">
            {{ form|crispy }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">
            <input class="btn btn-default" type="submit" value="{% trans "Register" %}">
        </form>
    </div>

</div>
{% endblock %}