{% extends "base.html" %}

{% load i18n %}

{% block content%}
<div class="container">
    <div class="jumbotron container-fluid">
        <h1>Course overview</h1>
    </div>
        <div class="col-md-12">
            {% if course_list %}
                <table class="table table-striped">
                    <thead>
                            <tr>
                            <th>{% trans "Name" %}</th>
                            <th>{% trans "Progress" %}</th>
                            <th>{% trans "Status" %}</th>
                            <th>{% trans "Seats" %}</th>
                            </tr>
                    </thead>
                    <tbody>

                    {% for course in course_list %}
                    <tr>
                        <td><a href="/course_mgmt/teacher_courses_detail/{{course.slug}}"> {{course.course_name }} </a></td>
                        <td>{{course.course_progress}}</td>
                        <td>{{course.course_status}}</td>
                        <td>{{course.seats_cur}} / {{ course.seats_max }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p> {% trans "No entries available" %}</p>
            {% endif %}
        </div>
        {% include "show_pagination.html"%}
        <a href="{% url "teacher_courses_add" %}"  class="button">Add Course</a>
</div>
{% endblock %}