{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block content%}
<div class="container">
    <div class="jumbotron container-fluid">
        <h1>{{ course.course_id.course_name }} ({{ course.iteration_name }})</h1>
    </div>
        <div class="col-md-12" style="padding-top: 15px">
        <form action="" method="post">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.path }}">
            <div class="row">
                <div class="col-md-8">{{ form|crispy }}</div>
                <div class="col-md-4"><input type="submit" class="btn btn-default" name="update_course_progress" value="Update"></div>
            </div>
            {% if student_complete_list %}
                <h2>{% trans "Students at current progress" %} </h2>
                <input type="hidden" name="student_complete_list" value="{{json_complete}}">
                <div class="table-responsive">
                <table class="table table-condensed table-striped ">
                    <thead>
                            <tr>
                            <th>{% trans "Progress" %}</th>
                            {% for field in field_list%}
                            <th>{% trans field.field_name %}</th>
                            {% endfor %}
                            </tr>
                    </thead>
                    <tbody>

                    {% for student, values in student_complete_list.items %}
                        <tr>
                        {% for key, item in values.items%}
                            {% if key == 'progress_reached' %}
                                <td><input type="hidden" name="all_ids" value="{{student}}">
                                    {% if item == True %}
                                    <input type="checkbox" name="student_id" id="student_id" value="{{ student }}" checked >
                                    {% else %}
                                        <input type="checkbox" name="student_id" id="student_id"  value="{{student}}">
                                    {% endif %}
                            {% elif key == 'progress' %}
                                {{ item }}</td>
                            {% else %}
                                <td>{{ item }}</td>
                            {% endif %}

                        {% endfor %}
                        <td><a href="{% url "student_courses_detail" course.slug student%}?next={{ request.path|urlencode }}">Details</a></td>
                        </tr>

                    {% endfor %}
                    </tbody>
                </table>
                </div>
                <div>
                    <input type="submit" class="btn-link btn-xs" name="export_good" value="Export"><input type="submit" class="btn-link btn-xs" name="email_good" value="Send Email">
                </div>

            {% else %}
                <h2>{% trans "Students at current progress" %}</h2>
                <p> {% trans "No entries available" %}</p>
            {% endif %}
            {% if student_incomplete_list %}
                <input type="hidden" name="student_incomplete_list" value="{{json_incomplete}}">
                <h2>{% trans "Students at earlier progress " %} </h2>
                <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                            <tr>
                            <th>{% trans "Progress" %}</th>
                            {% for field in field_list %}
                            <th>{% trans field.field_name %}</th>
                            {% endfor %}
                            </tr>
                    </thead>
                    <tbody>

                    {% for student, values in student_incomplete_list.items %}
                        <tr>
                        {% for key, item in values.items%}
                            {% if key == 'progress_reached' %}
                                <td><input type="hidden" name="all_ids" value="{{student}}">
                                    {% if item == True %}
                                    <input type="checkbox" name="student_id" id="student_id" value="{{ student }}" checked >
                                    {% else %}
                                        <input type="checkbox" name="student_id" id="student_id"  value="{{student}}">
                                    {% endif %}
                            {% elif key == 'progress' %}
                                {{ item }}</td>
                            {% else %}
                                <td>{{ item }}</td>
                            {% endif %}

                        {% endfor %}
                        <td><a href="{% url "student_courses_detail" course.slug student%}?next={{ request.path|urlencode }}">Details</a></td>
                        </tr>

                    {% endfor %}
                    </tbody>
                </table>
                </div>
                <div>
                    <input type="submit" class="btn-link btn-xs" name="export_late" value="Export"><input type="submit" class="btn-link btn-xs" name="email_late" value="Send Email">
                </div>

            {% endif %}
            {% include "show_pagination.html"%}
            {% include "show_message.html"%}
            <div>
                <a href="/course_mgmt/teacher_courses" class="btn btn-default">{% trans "Back" %}</a>
                <input type="submit" class="btn btn-default" name="update_student_progress" value="Update">
                {% if student_complete_list and student_incomplete_list %}
                <input type="submit" class="btn btn-default" name="export" value="Export all">
                <input type="submit" class="btn btn-default" name="email_all" value="Email to all">
                {% endif %}
            </div>
            </form>

        </div>

</div>
{% endblock %}