{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block content%}
<div class="container">
    <div class="jumbotron container-fluid">
        <h1>Course overview</h1>
    </div>
        <div class="col-md-12" style="padding-top: 15px">
        <form action="" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-8">{{ form|crispy }}</div>
                <div class="col-md-4"><input type="submit" class="btn btn-default" name="update" value="Update"></div>
            </div>
            {% if student_list %}
                <table class="table table-striped">
                    <thead>
                            <tr>
                            {% for field in field_list%}
                            <th>{% trans field.field_name %}</th>
                            {% endfor %}
                            <th>{% trans "Progress" %}</th>
                            <th>{% trans "Progress reached" %}</th>
                            </tr>
                    </thead>
                    <tbody>

                    {% for student, values in student_list.items %}
                        <tr>
                        {% for key, item in values.items%}
                            <td>{{ item }}</td>

                        {% endfor %}
                        <td><a href="{% url "student_courses_detail" course.slug student%}">Details</a></td>
                        </tr>

                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p> {% trans "No entries available" %}</p>
            {% endif %}
            {% include "show_pagination.html"%}
            {% include "show_message.html"%}

            <input type="submit" class="btn btn-default" name="export" value="Export">
            </form>

        </div>

</div>
{% endblock %}