{% if user.is_authenticated %}
    <li><a href="#">Welcome {{ user.username }}</a></li>
    <li><a href="{% url "logout" %}">Logout</a></li>
{% else %}
<form class="navbar-form navbar-right" role="form" action="{% url "login" %}"
    method="post" accept-charset="utf-8">
  <div class="form-group">
    <input type="text" placeholder="Username" class="form-control" name="username">
  </div>
  <div class="form-group">
    <input type="password" placeholder="Password" class="form-control" name="password">
  </div>
  {% csrf_token %}
  <button type="submit" class="btn btn-info">Sign in</button>
</form>
{% endif %}