<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    
    {% load i18n %}
    {% load staticfiles %}
    <!-- Bootstrap core CSS -->
    <link href="{% static 'course_registration/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <!-- Bootstrap theme -->
    <link href="{% static 'course_registration/css/bootstrap-theme.min.css' %}" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="{% static 'course_registration/css/theme.css' %}" rel="stylesheet" type="text/css">

    {% block css %}
    {% endblock %}


    <title>Course Mgmt</title>
</head>

<body role="document">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div>
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/course_mgmt/courses">Course Mgmt</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="dropdown"><a  href="#"class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{% trans "Overview" %}<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="/eicos/entry/list">{% trans "Entries" %}</a></li>
                    <li><a href="/eicos/project/list">{% trans "Projects" %}</a></li>
                </ul>
              </li>
              <li class="dropdown"><a  href="#"class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{% trans "Create EICOS" %} <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="/eicos/createEICOS/db">{% trans "Choose Devices" %}</a></li>
                    <li><a href="/eicos/createEICOS/mto">{% trans "Choose MTO" %}</a></li>
                </ul>
              </li>
              <li class="dropdown"><a  href="#"class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Upload <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="/eicos/entry/add">{% trans "Upload Offers" %}</a></li>
                    <li><a href="/eicos/project/add">{% trans "Upload a Project" %}</a></li>
                </ul>
              </li>
              <li><a href="/eicos/createReport" >{% trans "Reports" %}</a></li>
              <li><a href="/eicos/review/list" >{% trans "Review" %}</a></li>
                <li>  {% block toggle_login %}
                      {% include "toggle_login.html" %}
                      {% endblock %}</li>
            </ul>

          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>
    
     
    {% block content %}
    {% endblock %}
    

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'course_registration/js/jquery.min.js' %}"> </script>
    <script src="{% static 'course_registration/js/bootstrap.min.js' %}"> </script>
    <script src="{% static 'course_registration/js/docs.min.js' %}"> </script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'course_registration/js/ie10-viewport-bug-workaround.js' %}"> </script>
    <script src="{% static 'course_registration/js/jquery-1.11.3.js' %}"></script>

    {% block script %}
    {% endblock %}


</body>
</html>
